/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
/* Strat general style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.title h2{
    font-size: 32px;
    text-transform: capitalize;
    margin-bottom: 10px;
    text-align: center;
}
.title .line{
    display: block;
    width: 80px;
    height: 5px;
    background-color: #6195ff;
    margin: 0 auto 40px auto;
}
/* End general style */
/* Start Header style */
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    align-items: center;
    z-index: 999;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
 .logo{
    width: 20%;
}
.logo img{
    width: 120px;
}
 nav{
    width: 80%;
}
nav > ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav > ul > li{
  margin: 0 10px;
}
nav > ul > li > a{
    text-transform: capitalize;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}
nav > ul > li > a::after{
    content: "";
    position: absolute;
    top: 22px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #6195ff;
    transition: width 0.5s;
}
nav ul > li > .active::after,
nav ul > li > a:hover::after{
    width: 100%;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    top: 30px;
    left: -50px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}
.dropdown-menu li{
    background-color: #6195ff;
    width: 150px;
    height: 45px;
    text-align: center;
    border-radius: 10px;
    line-height: 45px;
}
.dropdown-menu li a{
    color: #ffffff;
    text-transform: capitalize;
}
.dropdown a:hover + .dropdown-menu{
    visibility: visible;
    opacity: 1;
}
/* End Header style */
/* Start Home style */
.home{
    background-image: url(../images/background1.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    margin-bottom: 50px;
}
.home-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.home-overlay h1{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 15px;
}
.home-overlay p{
    width: 63%;
    line-height: 1.2;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
}
.home-btns button{
    width: 160px;
    height: 45px;
    font-size: 18px;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.home-btns button:hover{
    opacity: 0.6;
    transition: opacity 0.5s;
}
.home-btns .learn{
    margin-left: 15px;
    background-color: #6195ff;
    color: #ffffff;
}
/* End Home style */
/* Start About style */
.about{
    padding: 100px 0;
    margin-bottom: 50px;
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-item{
    width: 32%;
    height: auto;
    padding: 50px 20px;
    border: 1px solid #e8e8e8;
    text-align: center;
    position: relative;
}
.about-item i{
    font-size: 30px;
    color: #6195ff;
    margin-bottom: 15px;
}
.about-item h3{
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 15px;
}
.about-item p{
    font-size: 16px;
    color: #99998f;
    text-transform: capitalize;
    line-height: 1.6;
    margin-bottom: 15px;
}
.about-item a{
    color: #6195ff;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
}
.about-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    transition: width 0.5s;
}
.about-item:hover::after{
    width: 100%;
    z-index: -1;
}
.about-item:hover h3{
    color: #ffffff;
}
/* End About style */
/* Start portfolio style */
.portfolio{
    padding: 100px 0;
    margin-bottom: 50px;
    background-color: #f9f9f9;
}
.portfolio-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portfolio-item{
    width: 32%;
    padding: 20px;
    position: relative;
}
.portfolio-item img{
    width: 100%;
}
.portfolio-layer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s;
}
.portfolio-item:hover .portfolio-layer{
    opacity: 1;
    visibility: visible;
}
.portfolio-layer .category{
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 400;
    color: #6195ff;
    margin-bottom: 10px;
    transition-delay: 0.1s;
}
.portfolio-layer h3{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 15px;
    transition-delay: 0.3s;
}
.portfolio-layer .links a{
    margin-left: 10px;
    background-color: #6195ff;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    line-height: 35px;
    transition-delay: 0.5s;
    
}
.portfolio-layer .links a i{
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
}
.portfolio-layer .category,
.portfolio-layer h3,
.portfolio-layer a{
    position: relative;
    top: 15px;
    transition: top 0.5s;
}
.portfolio-item:hover .portfolio-layer .category,
.portfolio-item:hover .portfolio-layer h3,
.portfolio-item:hover .portfolio-layer a{
    top: 0;
}
/* End portfolio style */
/* Start services style */
.services{
    padding: 70px 0;
}
.services-content,
.services-content2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-content2{
    margin-bottom: 80px;
}
.services-content{
    margin: 75px 0 20px 0;
}
.services-item{
    width: 30%;
    height: auto;
    padding: 50px 20px 50px 70px;
    border: 1px solid #e8e8e8;
    text-align: center;
    position: relative;
}
.services-item i{
    position: absolute;
    left: 30px;
    top: 50px;
    font-size: 32px;
    color: #6195ff;
    margin-bottom: 15px;
}
.services-item h3{
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 15px;
}
.services-item p{
    font-size: 16px;
    color: #999;
    text-transform: capitalize;
    line-height: 1.6;
    margin-bottom: 10px;
}
.services-item a{
    color: #6195ff;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
}
.services-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    transition: width 0.5s;
}
.services-item:hover::after{
    width: 100%;
    z-index: -1;
}
.services-item:hover h3{
    color: #ffffff;
}
/* End services style */
/* Start advantages style */
.advantages .container .title,
.advantages .container .title .line{
     float: left;
}
.clear{
    clear: both;
}
.advantages{
    padding: 110px 0;
    margin-bottom: 30px;
    background-color: #f9f9f9;
}
.advantages-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.advantages-content .advantages-item1{
    margin-top: -140px;
    width: 45%;
    margin-right: 5%;
}
.advantages-item1 p{
    font-size: 19px;
    color: #999;
    line-height: 1.6;
    margin-bottom: 15px;
}
.advantages-item1 ul li i{
    background-color: #6195ff;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.advantages-item1 ul li{
    color: #999;
    margin-bottom: 15px;
    font-size: 16px;
}
.advantages-item2{
    width: 45%;
}
.advantages-item2{
    margin-top: -90px;
}
.advantages-item2 image{
    margin-left: -20px;
}
.advantages-item2 image img{
   width: 100%;
}
.advantages-item2 ul{
    margin-top: 5px;
    margin-left: 260px;
}
.advantages-item2 ul .active{
    background-color: #6195ff;
}
.advantages-item2 ul li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #999;
    margin-left: 7px;
}
/* End advantages style */
/* Start numbers style */
.numbers{
    background-image: url(../images/background2.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 40vh;
    position: relative;
    margin-bottom: 100px;
}
.numbers-overlay{
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.numbers-overlay .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.numbers-overlay-item{
    width: 25%;
    padding: 90px 0;
    text-align: center;
}
.numbers-overlay-item i{
    font-size: 32px;
    color: #6195ff;
    margin-bottom: 15px;
}
.numbers-overlay-item h3{
    text-transform: capitalize;
    font-size: 40px;
    color: #fff;
    margin-bottom: 5px;
}
.numbers-overlay-item span{
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 15px;
}
/* End numbers style */
/* Start prices style */
.prices{
    padding: 120px 0;
    margin-bottom: 20px;
}
.prices-content{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prices-item{
    width: 30%;
    border: 1px solid #e8e8e8;
    text-align: center;
    padding: 50px 20px;
    position: relative;
}
.prices-item h4{
    font-size: 16px;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 15px;
}
.dollar-sign{
    width: 150px;
    height: 150px;
    border: 2px solid #6195ff;
    text-align: center;
    border-radius: 50%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 30px 0;
}
.dollar-sign h3{
    font-size: 50px;
}
.dollar-sign span{
    text-transform: capitalize;
    font-weight: 600;
}
.prices-item ul li{
    color: #999;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.prices-item a{
    display: block;
    text-transform: capitalize;
    color: #6195ff;
    width: 150px;
    height: 50px;
    border: 2px solid #6195ff;
    border-radius: 10px;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 13px 0;
}
.prices-item::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 0%;
        background-color: rgb(0, 0, 0, 0.8);
        transition: width 0.5s, height 0.5s;
}
.prices-item:hover::after{
        height: 100%;
        z-index: -1;
}
.prices-item:hover .dollar-sign{
        color: #fff;
}

/* End prices style */
/* Start client style */
.client{
    background-image: url(../images/background3.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 47vh;
    margin-bottom: 200px;
    position: relative;
}
.client-overlay{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}
.client-overlay-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.client-overlay-item{
    width: 40%;
}
.client-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.client-info img{
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 15px;
}
.client-info .client-text-info h3{
    color: #fff;
    text-transform: capitalize;
    font-size: 30px;
}
.client-info .client-text-info span{
    color: #6195ff;
    text-transform: capitalize;
}
.client-overlay-item p{
    color: #fff;
    text-transform: capitalize;
    line-height: 1.7;
    letter-spacing: 1.9px;
}
/* End client style */
/* Start team style */
.team{
    padding: 50px 0;
}
.team-content{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team-item{
    width: 32%;
    padding: 30px 8px;
    background-color: #e8e8e8;
    position: relative;
}
.team-img{
    position: relative;
    width: 90%;
    z-index: 999;
    margin: auto;
}
.team-img img{
    /* display: block; */
    width: 100%;
    position: relative;
    z-index: 999;
}
.team-img-overlay{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(0, 0, 0, 0.5); */
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s;
}
.team-img-overlay .media li a{
    display: block;
    background-color: #6195ff;
    color: #fff;
    padding: 7px;
}
.team-item:hover .team-img-overlay{
    opacity: 1;
    visibility: visible;
}
.team-info{
    position: relative;
    text-align: center;
    z-index: 999;
}
.team-info h3{
    font-size: 28px;
    text-transform: capitalize;
    padding-top: 15px;
    transition: color 0.5s;
}
.team-item:hover h3{
    color: #fff;
}
.team-info span{
    display: block;
    text-transform: capitalize;
    padding-top: 10px;
    color: #6195ff;
}
.team-item::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: rgb(0, 0, 0, 0.8);
    transition: height 0.5s;
}
.team-item:hover::after{
    height: 100%;
}
/* End team style */
/* Start Blog style */
.blog{
    padding: 70px 0;
    margin-top: 70px;
}
.blog-content{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-item{
    width: 30%;
    padding: 30px 20px;
    border: 1px solid #e8e8e8;
    align-items: center;
}
.blog-img{
    width: 100%;
}
.blog-img img{
    width: 100%;
    padding-bottom: 30px;
}
.blog-item ul li{
    display: inline-block;
    margin: 0 25px 15px 0; 
}
.blog-item ul li i{
    color: #6195ff;
    padding-right: 5px;
}
.blog-item h3{
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 15px;
}
.blog-item p{
    color: #999;
    line-height: 1.6;
    margin-bottom: 15px;
}
.blog-item a{
    display: block;
    text-transform: capitalize;
    text-align: center;
    color: #6195ff;
}
/* End Blog style */
/* start contact style */
.contact{
    padding: 80px 0;
    margin-top: 80px;
    margin-bottom: 10px;
}
.contact-content{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-item{
    width: 30%;
    text-align: center;
    padding-bottom: 20px;
}
.contact-item i{
    color: #6195ff;
    font-size: 33px;
    margin-bottom: 15px;
}
.contact-item h3{
    text-transform: capitalize;
    margin-bottom: 15px;
}
.contact-item span{
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #999;
}
form{
    text-align: center;
}
form .contact-info{
    margin-bottom: 10px;
}
form .contact-info input{
    width: 350px;
}
form input{
    width: 705px;
    height: 32px;
    border: none;
    background-color: #d4d0d0;
    color: #333;
    margin: 0 auto 25px auto;
    padding: 10px;
    text-transform: capitalize;
}
form textarea{
    width: 705px;
    height: 50px;
    border: none;
    background-color: #d4d0d0;
    color: #333;
    margin: 0 auto 25px auto;
    padding: 10px;

}
form button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #6195ff;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    margin: 15px auto 25px auto;
    padding: 10px;
}
form button:hover{
    opacity: 0.6;
    transition: opacity 0.5s;
}
/* End contact style */
/* start footer style */
footer{
    background-color: #242627;
    height: 300px;
    text-align: center;
    padding: 50px;
}
footer ul{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
footer ul li{
    margin-right: 15px;
    background-color: #6195ff;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
footer ul li a{
    color: #fff;
}
footer li:hover{
    cursor: pointer;
}
footer p{
    text-transform: uppercase;
    color: #999;
}

/* End footer style */

